{% extends 'layout/basic.html' %}

{% load static %}

{% block title %}
{{ title }}
{% if title1 %}
| {{ title1 }}
{% endif %}
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
    <h4 class="card-title">Изменение пароля - {{ manager }}</h4>
    </div>
    <div class="card-body">
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
            </div>
        
        </form>

    </div>
</div>


{% endblock %}